/*
  CSS for the homepage, https://news.ycombinator.com/
*/


/*
  Body + main table
*/

body {
  font-family: "Roboto", serif !important;
  background-color: #28b9da !important;
}

table#hnmain {
  width: 99% !important;
}

/*
  Header
*/

.hnname > a:nth-child(1) {
  font-size: 1.3em !important;
  color: white !important;
}

.hnname {
  display: block !important;
  margin-bottom: 5px !important;
}

table#hnmain > tbody > tr:first-child > td {
  background-color: #004860 !important;
}

table#hnmain > tbody > tr:first-child > td > table > tbody > tr:first-child {
  height: 60px !important;
  text-align: center !important;
}

table#hnmain > tbody > tr:first-child > td > table > tbody > tr:first-child > td:first-child {
  padding-left: 20px !important;
}

table#hnmain > tbody > tr:first-child > td > table > tbody > tr:first-child > td:nth-child(2) {
  padding-left: 2px !important;
}

table#hnmain > tbody > tr:nth-child(2) {
  height: 0px !important;
}

#hnmain > tbody:nth-child(1) > tr:nth-child(1) > td:nth-child(1) > table:nth-child(1) > tbody:nth-child(1) > tr:nth-child(1) > td:nth-child(1) > a:nth-child(1) > img:nth-child(1) {
  display: none !important;
}


span.pagetop {
  color: white !important;
}

span.pagetop > a {
  color: white !important;
}

/*
  Table elements i.e. news items
*/

a.storylink {
  font-size: 1.1em !important;
  font-weight: 500 !important;
}

td.subtext {
  font-size: 0.7em !important;
  padding-top: 5px !important;
}

td.votelinks {
  padding: 0px 5px 0px 5px !important;
}

table.itemlist tr:nth-child(even).athing td{
  background-color: #e5e5e5 !important;
}

table.itemlist tr:nth-child(odd):not(.athing) td{
  background-color: #e5e5e5 !important;
}

table.itemlist {
  width: 100% !important;
}

table.itemlist tr.spacer {
  height: 0px !important;
}

table.itemlist td {
  padding: 5px !important;
}
